[user]
	name = junji
	email = juliusj.puno@gmail.com
	signingkey = juliusj.puno@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff "gpg"]
	textconv = gpg --decrypt --quiet --batch
[init]
	defaultBranch = main
